# ==============================================================================
# CONFIGURAÇÕES DA INFRAESTRUTURA (Lidas diretamente pelo docker-compose.yml)
# ==============================================================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_PASSWORD=

# ==============================================================================
# CONFIGURAÇÕES DO BACKEND (Injetadas nos containers da API e do Worker)
# ==============================================================================
NODE_ENV=development
PORT=3333

DATABASE_URL=postgres://<user>:<password>@postgres:5432/<database>

REDIS_URL=redis://redis:6379

FAKE_STORE_API_URL=https://fakestoreapi.com

# ==============================================================================
# CONFIGURAÇÕES DO FRONTEND (Lidas pelo Vite em ambiente de desenvolvimento)
# ==============================================================================
VITE_API_URL=http://localhost:3333